/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
.header {
  color: white;
  background-color: #26d0c9;
  height: 90px;
}
.header ul {
  display: flex;
}
.header ul li {
  margin: 33px 20px;
  font-size: 16px;
}
.logo {
  float: left;
  margin: 20px 40px;
  font-size: 36px;
}
.copy {
  margin: 100px 80px 0px 80px;
}
.copy h1 {
  font-size: 140px;
}
.copy h2 {
  font-size: 60px;
}
.dot {
  color: #ff4a4a;
}
.main {
  margin: 100px 80px;
  height: 500px;
}
.main h3 {
  font-size: 28px;
  border-bottom: 2px solid #dee7ec;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.content {
  display: flex;
}
.lang {
  margin-right: 40px;
}
.lang img {
  margin-bottom: 30px;
}
.lang p {
  font-size: 24px;
}
.form {
  margin: 100px 80px 120px 80px;
}
.form-content {
  margin-bottom: 30px;
}
h4 {
  font-size: 18px;
}
.form h3 {
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  border-bottom: 2px solid #dee7ec;
}

.form h4 {
  margin-bottom:10px;
  font-weight: normal;
}
.mail, .text, .submit {
  padding: 20px;
  width: 400px;
  border: 1px solid #dee7ec;
}
.submit {
  font-size: 18px;
  color: #889eab;
  background-color: #dee7ec;
}
.footer {
  height: 120px;
  color: #fff;
  background: #2f5167;
  padding: 40px;
}
.logo2 {
  float: left;
  font-size: 32px;
}
.footer-list {
  float: right;
}
.footer-list ul li {
  padding-bottom: 20px;
}