div {
	margin: 50px auto;
	font: 1.1em/1.5 sans-serif;
	box-sizing: border-box;
}

html {height: 100%; }

.box {
	height: 500px;
	width: 80%;
	padding: 30px;
	border: 15px solid rgba(35,66,97,.6);
	background: url(pe.jpg) no-repeat center;
	background-size: cover;
	background-clip: content-box;
}